
/**
 * Admin Section stylesheet.
 */

/**
 *Product delivery general settings.
 */
h3.general-settings-header {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px dashed #cecece;
    margin-bottom: 9px;
    padding: 5px 0;
    line-height: 1.3;
    vertical-align: middle;
    color: #444;
}
label.delivery-day-label {
    position: relative;
    top: -17px;
    left: 16px;
    font-weight: 500;
}
.general-settings-row select, 
.general-settings-row .general-set-date {
    padding: 3px 10px;
    width: 80%;
    height: 33px;
    background-color: #fff;
}
.general-settings-row a.btn.btn-green, 
.thpt-general-settings-row a.btn.btn-green {
    background-color: #00A0D2;
    margin: 3px;
    padding: 0;
    vertical-align: -webkit-baseline-middle;
    text-decoration: none;
    color: #ffffff;
}
.general-settings-row a.btn.btn-red, 
.thpt-general-settings-row a.btn.btn-red {
    background-color: #f66;
    margin: 3px;
    padding: 0;
    vertical-align: -webkit-baseline-middle;
    text-decoration: none;
    color: #ffffff;
}
.ptdt-admin-dynamic-row-table td {
    padding-bottom: 6px;
}
.general-settings-row a.btn.btn-red .dashicons-no-alt:before, 
.general-settings-row a.btn.btn-green .dashicons-plus:before,
.thpt-general-settings-row a.btn.btn-red .dashicons-no-alt:before, 
.thpt-general-settings-row a.btn.btn-green .dashicons-plus:before  {
    font-size: 12px;
}
.general-settings-row select, 
.general-settings-row input[type="checkbox"], 
.general-settings-row input[type="text"] {
    border-radius: 3px;
}
.general-settings-row tr {
    display: block
}
.general-settings-row td.break {
    float: left;
    line-height: 22px;
}
.ptdt-admin-dynamic-row-table input[type="text"] {
    padding: 3px 10px;
    height: 33px;
}
.ptdelivery-admin-settings-form th {
    line-height: 3.5em;
    float: left;
    font-weight: 400;
}
td.ptdt_general_settings_td.ptdt_general_weekdays_td{
    left: 0;
}
td.ptdt_general_settings_td {
    position: relative;
    left: 10px;
    padding:10px 0;
    width: 313px;
}
.thpt-general-settings-row span.thsdf-weekday-required-mssg {
    width: 71%;
}
.general-settings-row th h2 {
    font-size: 16px;
}
.general-settings-row input[type=checkbox], 
.general-settings-row input[type=radio] {
    width: 20px;
    min-width: 20px;
    height: 20px;
    margin: 0rem 0.55rem 0 0;
}
.general-settings-row input[type=checkbox]:checked:before {
    font: normal 23px/1 dashicons;
}
.general-settings-row input[type=radio]:checked:before {
    font: normal 24px/1 dashicons;
    width: 10px;
    height: 10px;
    margin: 4px;
}
.general-settings-row input[type=radio] {
    margin: 6px 5px 6px 0;
}
.ptdelivery-admin-settings-form .error{
    outline: 1px solid red;
}
.general-settings-row .unselectable{
     background-color: #ddd;
     cursor: not-allowed;
     pointer-events: none;
}
.plan_display_notf {
    margin-bottom:10px;
}
/*Rounded sliders*/
.general-settings-row .ptdt_toggle_switch {
    position: relative;
    display: inline-block;
    height: 16px;
    width: 34px;
    left: 10px;
}
.ptdt_toggle_switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.ptdt_toggle_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.ptdt_toggle_slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2px;
    bottom: 4px;
    -webkit-transition: .4s;
    transition: .4s;
    display: block;
    width: 16px;
    height: 16px;
    background: #fff;
    top: 0;
    right: 0;
    border-radius: 100%;
}

input:checked + .ptdt_toggle_slider {
    background-color: #2196F3;
    border: 2px solid #2196F3;
}

input:focus + .ptdt_toggle_slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .ptdt_toggle_slider:before {
/*  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);*/
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}
.ptdt_toggle_slider.ptdt_toggle_round {
    border-radius: 34px;
    height: 16px;
    width: 32px;
    border: 2px solid #cccccc;
    display: inline-block;
    text-indent: -9999px;
    border-radius: 10em;
    margin-top: -1px;
    vertical-align: text-top;
}
.ptdt_toggle_slider.ptdt_toggle_round:before {
    border-radius: 50%;
}
span.ptdt_delivery_status_plan {
    padding-left: 20px;
}
.status_plan_hr {
    padding: 5px;
}
input.ptdt_delivery_status_plan {
    width: 50px;
    height: 33px;
    text-align: center;
}
.general-set-date_holiday {
    background-color: #fff;
    width: 250px;
}
input[type=text].general-set-date_holiday {
    background-color: #fff;
}
.thsdf-required {
    color:red;
}
.thsdf-required-mssg, 
.thsdf-weekday-required-mssg, 
.thsdf-startdate-required-mssg {
    display: none;   
}
.thsdf-required-mssg p, 
.thsdf-weekday-required-mssg p, 
.thsdf-startdate-required-mssg p {
    background-color: #ffd4d4;
    color: #d70a0a;
    width: 77%;
    padding: 6px 5px;
}

.thsdf-endtime-validate-mssg, 
.thsdf-starttime-required-mssg, 
.thsdf-endtime-required-mssg {
    margin: 10px 0;
    display: none;  
}
.thsdf-endtime-validate-mssg p, 
.thsdf-starttime-required-mssg p, 
.thsdf-endtime-required-mssg p {
    margin: 3px;
    padding: 6px 5px;    
    background-color: #ffd4d4;
    color: #d70a0a;
}
.thsdf-weekday-required-mssg p {
    margin-left: 12px;
}
.thsdf-single-required-mssg {
    margin: 44px 0;
    width: 300px;
}
.thsdf_tooltip {
    float: none;
    display: inline;
    position: relative;
    font-size: 12px;
    height: 100%;
}
.thsdf_tooltip img {
    padding: 0;
    vertical-align: middle;
    cursor: help;
    border: none;
    height: 16px;
    width: 16px
}
.thsdf_tooltip:hover:after {
    background: #333;
    background: rgba(0,0,0,1);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: -100px;
    padding: 5px 10px;
    position: absolute;
    z-index: 9998;
    width: 245px;
    line-height: 26px;
}
.thsdf_tooltip:hover:before {
    border: solid;
    border-color: #000 transparent;
    border-width: 6px 6px 0;
    bottom: 20px; 
    content: "";
    left: 50%;
    position: absolute;
    z-index: 9999;
}
/**
 *Product delivery display settings
 */

form.ptdt-display-settings-form h3.ptdt-display-set-calendar, 
form.ptdt-display-settings-form h3.ptdt-display-set-text {
    margin: 8px 0;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px dashed #cecece;
    margin-bottom: 9px;
    padding: 5px 0;
    line-height: 1.3;
    vertical-align: middle;
    color: #444;
}
form.ptdt-display-settings-form th {
    font-size: 13px;
    margin: 6px 0;
    font-weight: 400;
}
input.ptdt-display-admin-colorpick {
    margin: 0;
    padding: 6px !important;
    box-sizing: border-box;
    vertical-align: top;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.ptdt-display-admin-form-table td {
    /*padding: 5px 0;*/
    padding: 15px 5px;
    margin: 6px;
    position: relative;
    font-size: 13px;
    margin: 6px 0;
    font-weight: 400;
}
.ptdt-display-admin-colorpick {
    border-left: 0 !important;
    width: 12em !important;
    margin-left: 0 !important;
}
.ptdt-display-admin-colorpickpreview {
    padding: 20px;
    border: 1px solid #7e8993;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #FFFFFF;
    display: inline-block;
}
.woocommerce table.form-table.ptdt-display-admin-form-table {
    width: 40%;
}
.th_display{
    width: 52%!important;
}

/**
 *Product page plan delivery settings option.
 */
#woocommerce-coupon-data ul.wc-tabs li.plan_delivery_options a::before, 
#woocommerce-product-data ul.wc-tabs li.plan_delivery_options a::before, 
.woocommerce ul.wc-tabs li.plan_delivery_options a::before {
    content: '\f175';
}
#wpwrap .panel-wrap.product_data .product_data_tabs.wc-tabs .plan_delivery_tab {
    /*display: none;*/
}
.options_group p._global_settings_field label, 
.options_group tr.thpt-general-settings-row label {
    font-weight: bold;
}

/*
 *Accordion style
 */
.thptdelivery-accordion a {
    text-decoration: none;
    color: inherit;
}
.thptdelivery-accordion ul {
    list-style: none;
    padding: 0;
    margin:0;
}
.thptdelivery-accordion ul li {
    margin:0;
}
.thptdelivery-accordion ul .thptdelivery-inner {
    padding-right: 1em;
    padding-left: 1em;
    display: none;
}
.thptdelivery-accordion ul li a.thptdelivery-toggle {
    width: 100%;
    display: block;
    background: #ffffff;
    color: #555;
    padding: 14px 0 14px 11px;
    transition: background 0.3s ease;
    font-weight: bold;
    vertical-align: middle;
    text-decoration: none;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
}
a.thptdelivery-toggle:focus {
    box-shadow: 0 1px #eee;
}
span.dashicons.dashicons-controls-play {
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    float: right;
    margin-right: 12px;
    color: #cacaca;
    font-size: 12px;
}
/**
 * Product panel style
 */
p.form-field._global_settings_field {
    border-bottom: 1px solid #eee;
    margin: 0;
}
.th-accordion-disabled {
    pointer-events: none;
}
.thptdelivery-accordion ul li.th-accordion-disabled a.thptdelivery-toggle {
    background: #f0f0f0;
    color: #cdcdcd;
    border-bottom: 1px solid #e8e7e7;
}
.woocommerce_options_panel ._global_settings_field label {
    padding: 15px 0 15px 0;
    color: #707070;
    font-size: 13px;
}
.woocommerce_options_panel p.form-field._global_settings_field {
    padding: 0 26px 0 161px !important;
}
.wp-admin p input#_global_settings {
    margin-top: 19px !important;
}
.woocommerce_options_panel ._global_settings_field .th-global-checkbox-disabled {
    border-color: #e2e2e2;
}

/**
 * Calender Settings-single product.
 */
.woocommerce table.form-table.thpt-form-table th {
    font-size: 12px;
    color: #555;
    width: 220px;
}
#poststuff h3.thpt-general-settings-header {
    color: #555;
    padding-left: 0;
    font-weight: 700;
    font-size: 13px;
    margin: 8px 0;
}
.form-table.thpt-form-table td {
    padding: 10px 0; 
}
.thpt-general-settings-head td {
    padding-left: 0;  
}
.thpt-general-settings-row select, 
.thpt-general-settings-row .general-set-date {
    /*text-align: center;*/
}
.thpt-general-settings-row select, 
.thpt-general-settings-row input[type=checkbox], 
.thpt-general-settings-row input[type="text"] {
    /*border-radius: 3px;*/
}
input.delivery_day {
    position: relative;
    left: -12px;
}
.thpt-general-settings-row tr {
    display: block
}
.thpt-general-settings-row td.break {
    float: left;
    line-height: 22px;
}
.woocommerce table.form-table .thpt-general-settings-row input[type=text],
.woocommerce table.form-table .thpt-general-settings-row select,
.woocommerce table.form-table .thpt-general-settings-row input[type=date],
.woocommerce table.form-table .thpt-general-settings-row input[type=number] {
    width: 250px;
    background-color: #fff;
}
.thpt-general-settings-row .holidays-list.thptadmin-dynamic-row-table td {
    padding: 0 !important;
}
.woocommerce_options_panel label.thpt-delivery-day-label {
    float: none;
    margin: 0;
    position: relative;
    top: -17px;
    left: 13px;
    left: 0;
}
.woocommerce_options_panel .thpt-general-settings-row label.delivery-payment-options {
    font-weight: initial;
    float: none;
    margin: 0 0 0 4px;
    font-size: 12px;
    vertical-align: baseline;
}
.thptdelivery-inner.show {
    border-bottom: 1px solid #eee;
}
#normal-sortables .postbox .thpt-general-settings-submit .submit {
    float: left;
    padding: 0;
}
.thpt-general-settings-submit td {
    padding-left: 0;
}
.holidays-list.thptadmin-dynamic-row-table tr {
    margin: 5px 0;
}
.thptdelivery-inner.show table.form-table {
    width: 100%; 
    margin: 15px 0;
    table-layout: auto;
}
.error {
    background: red;
}
.ptdt-setting-loader {
    width: 0;
    height: 0;
    position: relative;
}
.ptdt-setting-loader img {
    position: relative;
    top: -300px;
    left: 300px;
}
.thpt-general-settings-row .ptdt_general_settings_td span {
    /*display: list-item;*/
}
.woocommerce_options_panel label.plan-display-label {
    margin: 0;
    float: initial;
    font-weight: initial;
    font-size: 12px;
}
.woocommerce_options_panel label.ptdt_toggle_switch{
    margin: 0;
    float: initial;
}
.thpt-general-settings-row .ptdt_toggle_switch {
    position: relative;
    display: inline-block;
    height: 16px;
    width: auto;
}
.woocommerce table.form-table .thpt-general-settings-row input[type=text].ptdt_delivery_status_plan {
    width: 41px;
    float: initial;
    padding: 3px;
    text-align: center;
    vertical-align: middle;
}
.thpt-form-table .thsdf-single-submit-td {
    padding: 18px 0;
}
.form-table.thpt-form-table th.plan_display_th {
    padding: 0;
}
.plan-display-pro{
    margin-left: 3px!important;
}
/**
 *calendar display-single product.
 */
.ptdt-single-display-submit-td {
    width: 27%;
}
.ptdt-single-colorpickpreview {
    float:left;
}
#normal-sortables .postbox .submit.submit.ptdt-single-display-set-submit {
    float: left;
    padding: 0;
}
td.ptdt-single-display-submit-td input.button-primary.save_calender_settings.button-primary-thsdf-save-settings {
    float: left;
    margin-right: 5px;
}
.ptdt-single-display-tr td.ptdt-single-display-submit-td {
    padding: 15px 0;
}
.ptdt-single-display-form-table td {
    padding: 5px 0;
    margin: 6px;
    position: relative;
}
table.ptdt-single-display-form-table th.ptdt-display-set-calender,
table.ptdt-single-display-form-table h3.ptdt-display-set-calender,  
table.ptdt-single-display-form-table th.ptdt-display-set-text,
table.ptdt-single-display-form-table h3.ptdt-display-set-text {
    font-weight: 700;
    font-size: 13px;
    margin: 8px 0;
}
table.ptdt-single-display-form-table th,
table.ptdt-single-display-form-table h3 {
    font-size: 12px;
    margin: 6px 0;
    color: #555;
}

.woocommerce table.form-table.ptdt-single-display-form-table .iris-picker {
    bottom: 42px;
}
.woocommerce table.form-table.ptdt-display-admin-form-table .iris-picker {
    bottom: -152px;
}
.ptdt-single-display-tr .ptdt-display-admin-colorpickpreview {
    padding: 20px 14px;
    background-color: #FFFFFF;
    display: inline-block;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    outline: 0;
    transition: 50ms border-color ease-in-out;
}
.woocommerce table.form-table input.ptdt-display-admin-colorpick {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0 !important;
    width: 10em !important;
    margin-left: 0 !important;
}
.th_display_pro{
    width: 33%!important;
}

/**
 * Order edit single page.
 */
.plan_delivery_details {
    display: none;
}
h3.plan_delivery_toggle {
    margin-bottom: 0;
    font-size: 13px;
    text-align: left;
    font-weight: 600;
    color: rgb(153, 153, 153);
    user-select: none;
    padding: 8px;
    background: rgb(248, 248, 248);
}
table.plan_delivery_dls_table, 
.delivery_cancelled_item_table {
    background-color: #f8f8f8;
    border-collapse:collapse;
    font-size: 10px;
    width: 100%;
}
#woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items .delivery_cancelled_item_table tbody th:first-child {
    padding: 6px 6px 6px 6px !important;
    vertical-align: middle;
    padding-left: 6px !important;
}
#woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items tbody th.plan_delivery_dls_th,
#woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items tbody th.ptdt_cancelled_item_table_th {
    background-color: #e9e9e9;
    text-align: center;
    border-bottom: 1px solid #dfdfdf;
}
#woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items td.plan_delivery_dls_td,
#woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items td.ptdt_cancelled_item_table_td {
    /*padding: 9px 7px 9px 7px !important;*/
    padding: 9px 0 9px 0 !important;
    text-align: center;
}
#woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items tbody tr:last-child td.plan_delivery_dls_td,
#woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items tbody tr:last-child td.ptdt_cancelled_item_table_td {
    border-bottom: none;
}
.plan_delivery_dls_status.status_blue {
    color: #2774aa;
    background-color: #c2dcee;
}
.plan_delivery_dls_status.status_green {
    color: #40d646;
    background-color: #d6f1d7;
}
.plan_delivery_dls_status.status_red {
    color: #ff1a1a;
    background-color: #fdd4d4;
}
.plan_delivery_dls_status.status_orange {
    color: #ff6b01;
    background-color: #ffd1ad;
}
.plan_delivery_dls_status.status_yellow {
    color: #f8a400;
    background-color: #ffe0a4;
}
.plan_delivery_dls_status {
    padding: 1px 8px 4px 8px;
    border-radius: 4px;
    font-weight: 400;
}
.plan_delivery_dls_td a.not-active {
    text-decoration: none;
    pointer-events: none;
    cursor: default;
    color: black;
}
.plan_delivery_dls_td a.not-active_link {
    color: black;
}
.plan_delivery_toggle span.dashicons.dashicons-controls-play {
    font-size: 13px;
}
.plan_delivery_cancelled_items {
    margin-top: 10px;
}
button.button.date_specific_refund {
    margin: 10px 10px 10px 0;
}
button.button.date_specific_cancel {
    margin: 10px 10px 10px 0;
}
h3.ptdt_cancelled_header {
    margin-bottom: 0;
    font-size: 13px;
    text-align: left;
    font-weight: 700;
    color: rgb(114, 114, 114);
    user-select: none;
    padding: 8px 8px 8px 0;
}
#woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items td.ptdt_order_cancelled_checkbox {
    padding: 14px 0 0 12px;
    background-color: #e9e9e9;
    border-bottom: 1px solid #dfdfdf;
}
.ptdt_cancelled_item_table_td .dashicons-dismiss {
    color: #f95656;
}
.dashicons-dismiss.ptdt-dlt-fm-cancelled.cancel_disabled {
    color: #dbd8d8;
    pointer-events: none;
}
.thwd_hide_cancel_table {
    display: none;
}
.general-settings-row a.btn span.dashicons, 
.thpt-general-settings-row a.btn span.dashicons {
    font-size: 15px;
}
.product_page_th_schedule_delivery_plan .woocommerce table.form-table input.ptdt-display-admin-colorpick {
    padding: 6px !important;
}
tr.thpt-general-settings-row th {
    font-weight: initial;
}
.time-range-picker-settings td input[type=text], 
.time-range-picker-settings td input[type="number"], 
.time-range-picker-settings td select {
    /*width: 70%;*/
    width: 38%;
}
.woocommerce table.form-table.time-range-picker-settings .thpt-general-settings-row input[type=number],
.woocommerce table.form-table.time-range-picker-settings .thpt-general-settings-row input[type=text],
.woocommerce table.form-table.time-range-picker-settings .thpt-general-settings-row input[type=time],
.woocommerce table.form-table.time-range-picker-settings .thpt-general-settings-row select {
    width: 32%;
}

#woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items tbody th:first-child, 
#woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items td:first-child {
    padding-left: 1em;
}
p.time-settings-note, .woocommerce_options_panel p.time-settings-note {
    margin: 0;
    padding: 0;
    color: #929191;
}
#poststuff h2.time-range-header {
    margin-bottom: 0;
}
