/**
 * Schedule delivery for woocommerce plugin - front end style.
 */

/** 
 * Calendar style.
 */
.ptdelivery-controls .ptdelivery-prev, 
.ptdelivery-ac-controls .ptdelivery-ac-prev {
    float: left;
}
.ptdelivery-controls .ptdelivery-next, 
.ptdelivery-ac-controls .ptdelivery-ac-next {
    float: left;
}
.ptdelivery-controls #ptdelivery-date, 
.ptdelivery-ac-controls #ptdelivery-ac-date {
    float: left;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}
a#thsdf_prev.ptdelivery-prev, 
a#thsdf_next.ptdelivery-next, 
a#ac-prev.ptdelivery-ac-prev, 
a#ac-next.ptdelivery-ac-next {
    background-color: #fff;
    padding: 0;
    box-shadow: none;
}
.ptdelivery-controls, 
.ptdelivery-ac-controls {
    text-align: center;
}
.ptdelivery-controls-buttons, 
.ptdelivery-ac-controls-buttons {
    display: inline-table;
}
.ptdelivery-controls span.dashicons.dashicons-arrow-left, 
.ptdelivery-ac-controls span.dashicons.dashicons-arrow-left {
    font-size: 40px;
    margin: -2px 6px 8px -41px;
    color: #dfdada;
}
.ptdelivery-controls span.dashicons.dashicons-arrow-right, 
.ptdelivery-ac-controls span.dashicons.dashicons-arrow-right {
    font-size: 40px;
    margin: -2px 6px 12px -10px;
    color: #dfdada;
}
th.ptdelivery-calendar-header, 
th.ptdelivery-ac-calendar-header {
    padding: 0;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    background-color: #fff;
    border: 4px solid white;
    line-height: 1.5;
    width: 14.28%;
}
td.ptdelivery-calendar-day, 
td.ptdt_date_td {
    background-color: #fff !important;
    padding: 7px;
}
input[type="number"].ptdelivery-number-input {
   /* width: 66%;*/
    width: 55%;
    height: 43px;
    border: none;
    margin-left: 0;
    border-left: 1px solid #e1e0e0;
    float: right;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding: 1px 1px;
}
input.ptdelivery-number-input:disabled {
    background: repeating-linear-gradient( 135deg, #fdd4d400, #fdd4d400 5px, #fff 2px, #fff 8px );
    background-color: #f8f8f8;
    -moz-appearance: textfield;
}
.ptdf_befor_day input.ptdelivery-number-input:disabled, 
.ptdf_after_day input.ptdelivery-number-input:disabled {
    background-color: #ededed;
    -moz-appearance: textfield;
}
input.ptdelivery-number-input:focus {
    outline: initial;
}
.ptdelivary-single-date {
    border: 1px solid #d8d8d8;
    height: 45px;
    border-radius: 5%;
    text-align: center;
    overflow: hidden;
}
.ptdf_befor_day .ptdelivary-single-date, 
.ptdf_holidays .ptdelivary-single-date, 
.ptdf_after_day .ptdelivary-single-date, 
.ptdf_disable_day .ptdelivary-single-date{
}
.calendar-week-day {
    background-color: #E5E5E6;
    border: 1px solid #c4c4c4;
    border-radius: 5%;
}

span.ptdelivary-date-day {
    vertical-align: -webkit-baseline-middle;
    text-align: center;
    margin-top: 10px;
    position: relative;
    top: 4px;
    font-weight: 700;
    font-size: 14px;
}

.ptdelivery-number-input::-webkit-inner-spin-button, 
.qptdelivery-number-input::-webkit-outer-spin-button { 
   /* width: 8em;
    border-left: 1px solid #0f0;
    opacity: 1; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;*/
}
.ptdf_befor_day input[type=number].ptdelivery-number-input::-webkit-inner-spin-button, 
.ptdf_befor_day input[type=number].qptdelivery-number-input::-webkit-outer-spin-button,
.ptdf_after_day input[type=number].ptdelivery-number-input::-webkit-inner-spin-button, 
.ptdf_after_day input[type=number].qptdelivery-number-input::-webkit-outer-spin-button 
.ptdf_holidays input[type=number].ptdelivery-number-input::-webkit-inner-spin-button, 
.ptdf_holidays input[type=number].qptdelivery-number-input::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0;
}

.ptdf_befor_day input[type=number]::-webkit-outer-spin-button,
.ptdf_befor_day input[type=number]::-webkit-inner-spin-button,
.ptdf_after_day input[type=number]::-webkit-outer-spin-button,
.ptdf_after_day input[type=number]::-webkit-inner-spin-button,
.ptdf_disable_day input[type=number]::-webkit-outer-spin-button,
.ptdf_disable_day input[type=number]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.ptdt-tooltip.qtycheck-tooltip {
        border: 1px solid red;
        color: red;
}
.ptdt-tooltip.qtycheck-tooltip:before {
    border-top: 5px solid red;  
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    left: 1px;
    bottom: -10px;
    top: auto;
}
.ptdt-tooltip {
    border: 1px solid #f9f9f9;
    color: #444;
    background: #FFFFFF;
    box-shadow: 0 6px 9px #d0cccc;
    position: absolute;
    padding: 10px 7px;
    text-align: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    line-height: 1.2;
    font-size: 12px;
    z-index: 3;
}
.ptdt-tooltip:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #fff;
    left: -5px;
    top: 7px;
}
.ptdt-hide { 
    display: none; 
}
.spinner-button {
    position: relative;
    cursor: default;
    z-index: 2;
    width: 14.5px;
    text-align: center;
    margin: 0;
    pointer-events: none;
    line-height: 10px;
}
#inc-button {
    display: none;
    left: 48px;
    top: -7.5px;
}
#dec-button {
    display: none;
    left: 47.7px;
    top: -40.5px;
}
.dashicons.dashicons-arrow-down,
.dashicons.dashicons-arrow-up,
.dashicons-before:before {
    font-size: 14px;
    color: #d8d8d8;
}
.ptdf_befor_day .spinner-button, 
.ptdf_after_day .spinner-button,
.ptdf_holidays .spinner-button,
.ptdf_disable_day .spinner-button{
    display: none;
}
.cart button.single_add_to_cart_button.ptdt_addTcart_disabled {
    background-color: #d0d0d0;
    cursor: not-allowed;
    pointer-events: none;
}
.cart button.single_add_to_cart_button.variable-pdt-disabled {
    opacity: 0.5 !important;
    cursor: not-allowed;
    pointer-events: none;
}
div#total_product_quantity {
    font-weight: 600;
    font-size: 18px;
}
.woocommerce dl.variation dt,
.variation dd {
    padding-right: 4px;
    display: inline-block;
    float: left;
}
.wc-item-meta-label {
    float: left;
}
.wc-item-meta li {
    list-style: none;
}
.quantity input[type="number"].input-text.qty.text.ptdt-disabled-no-inc::-webkit-outer-spin-button,
.quantity input[type="number"].input-text.qty.text.ptdt-disabled-no-inc::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    pointer-events: none;
}
.quantity input[type="number"].input-text.qty.text.ptdt-disabled-no-inc {
     -moz-appearance:textfield;
}
.product_calendar_link {
    float: right;
}
ul.product_list_widget li.woocommerce-mini-cart-item.mini_cart_item .quantity {
    float: left;
}

li.woocommerce-mini-cart-item.mini_cart_item dl.variation {
    width: 100%;
    float: left;
}
li.woocommerce-mini-cart-item.mini_cart_item .variation dt, 
li.woocommerce-mini-cart-item.mini_cart_item .variation dd {
    width: 36%;
}
li.woocommerce-mini-cart-item.mini_cart_item dd p {
    margin: 0;
}

/**
 * Popup style
 */
.openBtn {
    position: relative;
    margin-top: 15px;
    margin-left: calc(50% - 80px);
    padding: 10px 15px;
    text-align: center;
    width: 100px;
    display: block;
    -webkit-transition: all linear 0.15s;
    transition: all linear 0.15s;
    border-radius: 3px;
    background: #3D9970;
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fafafa;
    z-index: 0;
}
.openBtn:hover {
  opacity: 0.75;
}
.obscure {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  z-index: 1;
}
.popup {
    width: 30%;
    padding: 10px 75px;
    transform: translate(-50%, -50%) scale(0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    z-index: 3;
}
.popup .closeBtn {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    line-height: 10px;
}
.animationOpen, 
.animationClose {
    display: block;
    -webkit-transition: all ease .2s;
    transition: all ease .2s;
}
.animationOpen {
    -webkit-transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.animationClose {
    opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(.5);
  transform: translate(-50%, -50%) scale(.5);
}
.ptdf_befor_day span.ptdelivary-date-day {
    color: #ededed !important;
}
.ptdf_after_day span.ptdelivary-date-day {
    color: #ededed !important;
}

/*
 * User Account Page style
 */
.view-my-order-calendar{
    cursor: pointer;
}
table#ptdelivery-ac-calendar {
    width: 100%;
}
.entry-content .ptdelivery-ac-calendar tr td.ptdt_ac_date_td {
    border: none;
}
.entry-content .ptdelivery-ac-calendar {
    border: none;
}
.ptdelivary-ac-single-date {
    border: 1px solid #d8d8d8;
    height: 45px;
    border-radius: 5%;
    text-align: center;
    width: 100%;
}
.ptdelivery-ac-number-input {
    color: white;
    width: 54%; 
    height: -webkit-fill-available;
    height: 100%;
    border: none;
    margin-left: 0;
    border-left: 1px solid #e1e0e0;
    float: right;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    position: relative;
    z-index: auto;
    box-shadow: 0 rgba(0,0,0,.125);
    font-size: 11px;
    line-height: 16px;
}
span.ptdelivary-ac-date-day {
    width: 50%;
    vertical-align: -webkit-baseline-middle;
    text-align: center;
    margin-top: 10px;
    position: relative;
    top: 4px;
    font-weight: 700;
    font-size: 12px;
}
.ptdelivery-ac-calendar tr {
    border: none;
}
.ptdelivery-ac-calendar-day, 
td.ptdt_ac_date_td {
    width: 14%;
    padding: 2px;
    background-color: #fff !important;
    border: none;
}
.entry-content td.ptdelivery-ac-calendar-day {
    border: none;
}
.ptdelivery-ac-order-calendar{
   display: none;
}
.order_qty_value {
    vertical-align: -webkit-baseline-middle;
}
.qty_bg_class {
    background-color: #8bc24a; 
}
.qty_bg_class_cancel {
    background-color: #f34336;
}
.qty_bg_class_cancel_pending {
    background-color: #ffa5ac;
    background-color: #fd9800;
}

/**
 * Tooltip style.
 */
/*.ptdelivery-ac-number-input {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}*/

/*.ptdt-tooltip:before{
    content:'';
    display:block;
    width:0;
    height:0;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right:5px solid #fff;
    left:-5px;

    top:7px;
}*/

.ptdelivery-ac-number-input .ptdt_order_tooltiptext {
    border: 1px solid #f9f9f9;
    width: 200px;
    visibility: hidden;
    color: #444;
    background: #FFF;
    box-shadow: 0 4px 9px #d0ccccc7;
    text-align: left;
    border-radius: 2px;
    line-height: 1.2;
    font-size: 12px;
    padding: 5px 5px;
    position: absolute;
    z-index: 5;
    bottom: 101%;
    font-weight: 600;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.ptdelivery-ac-number-input.qty_bg_class:hover {
    transition: opacity 0.2s 1s ease;
}
.ptdelivery-ac-number-input .ptdt_order_tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -42px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}
.ptdelivery-ac-number-input:hover .ptdt_order_tooltiptext {
  visibility: visible;
  opacity: 1;
}
.ptdt_order_tooltip_button {
    background-color: red;
    border-radius: 15px;
    padding: 0 13px 0 13px;
    color: #fff;
    font-size: 12px;
}

/**
 * Minimum Screen size - style.
 */
.thsdf-calendar-day-min-screen .ptdelivary-single-date {
    height: auto;
}
.thsdf-calendar-day-min-screen span.ptdelivary-date-day.ptdt_general_color {
    top: 0;
}
.thsdf-calendar-day-min-screen input.ptdelivery-number-input.ptdt_input_color {
    width: 100%;
    height: 27px;
    border-left: 0;
    border-top: 1px solid #e1e0e0;
    font-size: 14px;
    padding: 0;
}
.thsdf-calendar-day-min-screen #inc-button {
    left: 11px;
    top: -15.5px;
}
.thsdf-calendar-day-min-screen #dec-button {
    left: 11px;
    top: -46.5px;
}

/**
 * Styles of theme Avanda. 
 */
.thsdf_avada_user_account_calendar table#ptdelivery-ac-calendar {
    margin: auto;
}
.thsdf_avada_user_account_calendar span.dashicons {
    position: relative;
    top: -3px;
}
.thsdf_avada_user_account_calendar button.ptdt_order_tooltip_button {
    padding: 1px 6px;
    border: none;
}
.thsdf-avada-calendar-wrapper-public.thsdf-calendar-day-min-screen input.ptdelivery-number-input.ptdt_input_color {
    height: 30px;
}
.thsdf-avada-calendar-wrapper-public span.ptdelivary-date-day {
    top: 10px;
}

/**
 * Styles of theme Divi.
 */
.woocommerce-page .thsdf-divi-calendar-wrapper-public a.button:hover:after,
.woocommerce-page .thsdf_divi_user_account_calendar a.button:hover:after {
        opacity: 0;
}
.woocommerce-page .thsdf_divi_user_account_calendar a.button,
.woocommerce-page .thsdf_divi_user_account_calendar a.button:hover {
    border: none;
}
.thsdf_divi_user_account_calendar .dashicons-arrow-right:before,
.thsdf_divi_user_account_calendar .dashicons-arrow-left:before {
    top: -5px;
    position: relative;
}
.thsdf-divi-calendar-wrapper-public a#thsdf_prev, 
.thsdf-divi-calendar-wrapper-public a#thsdf_next,
.ptdt_divi_user_account_calendar a#ac-prev, 
.ptdt_divi_user_account_calendar a#ac-next {
    border: none;
}
.thsdf-divi-calendar-wrapper-public .ptdelivery-controls span.dashicons.dashicons-arrow-left, 
.thsdf-divi-calendar-wrapper-public .ptdelivery-controls span.dashicons.dashicons-arrow-right, 
.ptdt_divi_user_account_calendar .ptdelivery-ac-controls span.dashicons.dashicons-arrow-left,
.ptdt_divi_user_account_calendar .ptdelivery-ac-controls span.dashicons.dashicons-arrow-right {
    position: relative;
    top: -5px;
    
}
.thsdf-divi-calendar-wrapper-public #dec-button, 
.thsdf-divi-calendar-wrapper-public #inc-button {
    display:none;
}
.thsdf-divi-calendar-wrapper-public td.ptdt_date_td.ptdelivery-calendar-day,
.ptdt_divi_user_account_calendar td.ptdt_ac_date_td.ptdelivery-ac-calendar-day {
    padding: 3px !important;
}
.thsdf-divi-calendar-wrapper-public th.ptdelivery-calendar-header,
.ptdt_divi_user_account_calendar th.ptdelivery-ac-calendar-header {
    padding: 3px !important;
}

/**
 * Theme Ashe.
 */
.thsdf-ashe-calendar-wrapper-public input.ptdelivery-number-input.ptdt_input_color {
    border-color: #e1e0e0;
}
.thsdf-ashe-calendar-wrapper-public .dashicons-arrow-right:before,
.thsdf-ashe-calendar-wrapper-public .dashicons-arrow-left:before,
.thsdf_ashe_user_account_calendar .dashicons-arrow-right:before,
.thsdf_ashe_user_account_calendar .dashicons-arrow-left:before  {
    position: relative;
    top: -5px;
}

/**
 * Theme Astra.
 */
.thsdf-astra-calendar-wrapper-public select.general_thsdf_time {
    height: 45px;
}

/**
 * Account page style.
 */
#content-area .thsdf_divi_user_account_calendar table td.ptdt_ac_date_td.ptdelivery-ac-calendar-day,
#content-area .thsdf_divi_user_account_calendar table th.ptdelivery-ac-calendar-header {
    padding: 3px;
}
.thsdf_divi_user_account_calendar th.ptdelivery-ac-calendar-header,
.thsdf_divi_user_account_calendar span.ptdelivary-ac-date-day,
.thsdf_divi_user_account_calendar .ptdelivery-ac-number-input span {
    font-size: 10px;
}
.thsdf_divi_user_account_calendar .ptdelivery-ac-number-input {
    width: 70%;
}
.thsdf_divi_user_account_calendar th.ptdelivery-ac-calendar-header {
    width: 100px;
}
/**
 * Styles of theme Flatsome.
 */


.thsdf-flatsome-calendar-wrapper-public .ptdelivery-controls span.dashicons.dashicons-arrow-left, 
.thsdf-flatsome-calendar-wrapper-public .ptdelivery-controls span.dashicons.dashicons-arrow-right, 
.ptdt_flatsome_user_account_calendar .ptdelivery-ac-controls span.dashicons.dashicons-arrow-left,
.ptdt_flatsome_user_account_calendar .ptdelivery-ac-controls span.dashicons.dashicons-arrow-right {
    position: relative;
    top: -13px;
    
}
.thsdf-flatsome-calendar-wrapper-public a#thsdf_prev, .thsdf-flatsome-calendar-wrapper-public a#thsdf_next,
.ptdt_flatsome_user_account_calendar a#ac-prev, .ptdt_flatsome_user_account_calendar a#ac-next {
    border: none;
}
.thsdf-flatsome-calendar-wrapper-public .ptdelivery-next.button:hover,
.thsdf-flatsome-calendar-wrapper-public .ptdelivery-prev.button:hover,
.ptdt_flatsome_user_account_calendar .ptdelivery-ac-next.button:hover,
.ptdt_flatsome_user_account_calendar .ptdelivery-ac-prev.button:hover {
    box-shadow: none;
}
.ptdt_flatsome_user_account_calendar .ptdt_order_tooltip_button {
    background-color: red;
    border-radius: 14px;
    padding: 0 8px 0 6px;
    color: #fff;
    font-size: 9px;
    margin-bottom: 0;
}
.thsdf-flatsome-calendar-wrapper-public.thsdf-calendar-day-min-screen input[type="number"].ptdelivery-number-input {
    top: 7px;
}
.thsdf-flatsome-calendar-wrapper-public.thsdf-calendar-day-min-screen #inc-button {
    left: 25px;
    top: -23.5px;
}
.thsdf-flatsome-calendar-wrapper-public.thsdf-calendar-day-min-screen #dec-button {
    left: 24.7px;
    top: -54.5px;
}
.thsdf-flatsome-calendar-wrapper-public #dec-button {
    left: 105.7px;
    top: -36.5px;
}
.thsdf-flatsome-calendar-wrapper-public #inc-button {
    left: 106px;
    top: -1.5px;
}
.thsdf-flatsome-calendar-wrapper-public .spinner-button {
    box-sizing: content-box;
}
/* End date-picker*/
.single_variation_wrap .thsdf-flatsome-calendar-wrapper-public .ptdelivary-single-date {
    height: 70px;
}
.single_variation_wrap .thsdf-flatsome-calendar-wrapper-public input[type=number].ptdelivery-number-input {
    width: 100%;
    height: 34px;
    top: 0px;
    /*top: -3px;*/
}
.thsdf-flatsome-calendar-wrapper-public .thsdf-calendar-icon {
    left: -9%;
}

/**
 * Account page style
 */
.thsdf_flatsome_user_account_calendar .button:hover {
    box-shadow: none;
    border: none;
}
.thsdf_flatsome_user_account_calendar .button{
    border: none;
}
.thsdf_flatsome_user_account_calendar .ptdelivery-ac-controls span.dashicons.dashicons-arrow-right, 
.thsdf_flatsome_user_account_calendar .ptdelivery-ac-controls span.dashicons.dashicons-arrow-left  {
    margin: -12px 0 0 0;
}
.thsdf-flatsome-calendar-wrapper-public span.ptdelivary-date-day.ptdt_general_color {
    top: 10px;
}

/**
 * Theme Flatsome - cart page style
 */
.special_flatsome_class p.show-for-small.mobile-product-price {
    clear: both;
}

/**
 * Theme Flatsome - quickview style
 */
.product-lightbox .calendar-week-day {
    font-size: 7px;
    padding: 1px;
}
.product-lightbox .ptdelivary-single-date {
    height: 52px;
}
.product-lightbox input[type="number"].ptdelivery-number-input {
    top: 0;
    width: 100%;
    height: 22px;
    border: none;
    margin-left: 0;
    border-top: 1px solid #e1e0e0;
    float: none;
    font-size: 12px;
}
.product-lightbox .thsdf-flatsome-calendar-wrapper-public #inc-button {
    left: 25px;
    top: -16.5px
}
.product-lightbox .thsdf-flatsome-calendar-wrapper-public #dec-button {
    left: 24.8px;
    top: -45.5px;
}
.product-lightbox th.ptdelivery-calendar-header {
    min-width: 53px !important;
}
.product-lightbox td.ptdelivery-calendar-day, 
td.ptdt_date_td {
    background-color: #fff !important;
    padding: 3px;
    width: 10%;
}
.product-lightbox .ptdt-calendar-wrapper-public.thsdf-flatsome-calendar-wrapper-public {
    padding: 30px;
}
.thsdf-flatsome-calendar-wrapper-public .thsdf_quick_view span.ptdelivary-date-day.ptdt_general_color {
    top: 0;
}
.product-quick-view-container button.single_add_to_cart_button.disabled {
    pointer-events: none;
}

/**
 * Twenty Seventeen theme style.
 */
.thsdf-twentyseventeen-calendar-wrapper-public .ptdelivery-controls span.dashicons.dashicons-arrow-right {
    margin: -5px 6px 12px -13px;
}
.thsdf-twentyseventeen-calendar-wrapper-public .ptdelivery-controls span.dashicons.dashicons-arrow-left {
    margin: -6px 6px 8px -41px;
}
.single-product form.cart .thsdf-twentyseventeen-calendar-wrapper-public .ptdelivery-calendar-day input {
    width: 100%;
    border-left: none;
    border-top: 1px solid #e1e0e0;
}
.thsdf-twentyseventeen-calendar-wrapper-public span.ptdelivary-date-day {
    top: 0;
}
.thsdf-twentyseventeen-calendar-wrapper-public input[type="number"].ptdelivery-number-input {
    font-size: 14px;
}
.thsdf-twentyseventeen-calendar-wrapper-public .ptdelivary-single-date {
    height: 100%;
}
th.ptdelivery-calendar-header, 
th.ptdelivery-ac-calendar-header {
    font-size: 11px;
    font-weight: 100;
}

/** 
 * Styles for theme Twenty Twelve.
 */
.twentytwelve-ptdelivery-ac-order-calendar .ptdelivery-ac-number-input {
    font-size: 10px;
    font-weight: 100;
}

/**
 * Styles for theme Hestia.
 */
.woocommerce div.product form.cart .thsdf-hestia-calendar-wrapper-public input {
    margin-right: 0;
    border-bottom: none;
    border-left: 1px solid #e1e0e0;
}
.thsdf-hestia-calendar-wrapper-public table#ptdelivery-calendar tr {
    border-bottom: none;
}
.woocommerce .thsdf-hestia-calendar-wrapper-public a.button {
    box-shadow: none;
}
.woocommerce div.product form.cart .thsdf-hestia-calendar-wrapper-public .button:after {
    content: none;
}

/**
 * Styles for theme Twenty Fourteen.
 */
.thsdf_twentyfourteen_user_account_calendar .ptdelivery-ac-number-input {
    width: 25px;
    font-size: 9px;
}
.entry-content .thsdf_twentyfourteen_user_account_calendar td.ptdt_ac_date_td.ptdelivery-ac-calendar-day {
    padding: 2px;
}
.entry-content .thsdf_twentyfourteen_user_account_calendar th {
    padding: 0;
    border: 2px solid white;
}
.thsdf-twentyfourteen-calendar-wrapper-public input[type=number]::-webkit-outer-spin-button,
.thsdf-twentyfourteen-calendar-wrapper-public input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    pointer-events: none;
}
.thsdf-twentyfourteen-calendar-wrapper-public span.ptdelivary-date-day {
    font-size: 12px;
}
.thsdf-twentyfourteen-calendar-wrapper-public.thsdf-calendar-day-min-screen input.ptdelivery-number-input.ptdt_input_color {
    font-size: 12px;
}

/**
 * Styles for theme Twenty Twelve. 
 */

.thsdf-twentytwelve-calendar-wrapper-public input[type="number"] {
    width: 60%;
    height: 46px;
    font-size: 18px;
    font-weight: 400;
    padding: 0;
}

/** 
 * Styles for theme Twenty Sixteen.
 */
.entry-summary .thsdf-twentysixteen-calendar-wrapper-public th.ptdelivery-calendar-header {
    padding: 0; 
}
.thsdf-twentysixteen-calendar-wrapper-public input[type="number"].ptdelivery-number-input {
    font-size: 12px;
}

/** 
 * Shapely theme style.
 */
.thsdf-shapely-calendar-wrapper-public input.ptdelivery-number-input.ptdt_input_color {
    margin-bottom: 0;   
}
.thsdf-shapely-calendar-wrapper-public a#thsdf_prev.ptdelivery-prev, 
.thsdf-shapely-calendar-wrapper-public a#thsdf_next.ptdelivery-next, 
.thsdf-shapely-calendar-wrapper-public a#ac-prev.ptdelivery-ac-prev, 
.thsdf-shapely-calendar-wrapper-public a#ac-next.ptdelivery-ac-next {
    min-width: 30px;
}
.thsdf_shapely_user_account_calendar span.ac-odr-item-label {
    vertical-align: -webkit-baseline-middle;
}

/** 
 * Styles for theme Oceanwp. 
 */
.owp-qv-content-wrap .ptdt-calendar-wrapper-public.thsdf-oceanwp-calendar-wrapper-public {
    display: none;
}

td.ptdelivery-calendar-day {
    border: none;
}
.qty-limit-exeed {
    padding: 5px;
    border: 1px solid #e2401c;
    color: #b12809;
    margin-bottom: 5px;
    display: none;
    font-size: 14px;
}
p.settings_upadte_mssg {
    color: #cc0808;
    border: 1px solid #e66767;
    padding: 5px 15px;
}
/* New features. */
.thsdf-clock-icon {
    float: left;
    font-size: 16px;
    color: #929191;
    cursor: pointer;
    width: 10%;
}
.thsdf-calendar-icon {
    float: left;
    font-size: 12px;
    color: #929191;
    cursor: pointer;
    width: 10%;
    position: relative;
    top: 16px;
    left: -3px;
}
.price-ajaxBusy {
    display: none;
    background: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f110";
    -webkit-animation: fa-spin .75s linear infinite;
    animation: fa-spin .75s linear infinite;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 30px;
    position: absolute;
    margin-left: -15px;
    margin-top: -15px;
}
.ajaxBusy {
    display: none;
    background: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f110";
    -webkit-animation: fa-spin .75s linear infinite;
    animation: fa-spin .75s linear infinite;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
}

.wc-item-meta {
    width: 80%;
}

/**
 * Time-picker popup style.
 */

 /**
 * Popup box BEGIN.
 */
 .time-range-display .time-range-display-wrap {
        max-width: 100%;
 }
 .ptdelivery_user_account_calendar .time-range-display {
    position: relative;
 }
.hover_bkgr_fricc, .end-date-popup-view, .time-range-display {
    /*background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;*/
    cursor: pointer;
    display: none;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    z-index: 10000;
}
.hover_bkgr_fricc .helper, .end-date-popup-view .helper, .time-range-display .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div, .end-date-popup-view > div, .time-range-display > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #a0a0a0;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 100%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
/*.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}*/
.popupCloseButton, .end-date-close-button, .time-range-dis-close {
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    text-align: center;
}
.popupCloseButton:hover, .end-date-close-button:hover, .time-range-dis-close:hover {
    background-color: #e2e2e2;
}
.thsdf_timepicker_wrap p {
    margin: auto;
}
/*.trigger_popup_clock_icon {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}*/
span.time-popup-ok {
    padding: 5px 15px;
    margin-right: 10px;
    float: right;
    margin-top: 10px;
    background-color: #056bf6;
    border-radius: 5px;
    color: #fff;
    font-weight: 100;
}
span.time-popup-cancel {
    padding: 5px 15px;
    margin-right: 10px;
    float: right;
    margin-top: 10px;
    background-color: #a9abaf;
    border-radius: 5px;
    color: #fff;
    font-weight: 100;
}
label.general_thsdf_time-label {
    float: left;
    padding-bottom: 10px;
    width: 100%;
    text-align: left;
}
select.general_thsdf_time,
select.indivdl_thsdf_time {
    width: 60%;
    border-radius: 1px;
    height: 37px;
    margin-bottom: 10px;
}
select.indivdl_thsdf_time_popup.indivdl_thsdf_time {
    float: left;
    width: 100%;  
}
.quantity.buttons_added input.plus {
    display: none;
}
/**
 * clock icon
 */
.thsdf-avada-calendar-wrapper-public span.dashicons.dashicons-arrow-right,
.thsdf-avada-calendar-wrapper-public span.dashicons.dashicons-arrow-left {
    position: relative;
    top: -5px;
}

/* time scale */
.chart {
   /* width:900px;*/
    /*height: 600px;*/
    margin: 20px 10px 50px 10px;
    position: relative;
    /*border-top: 2px solid blue;*/
        text-align: left;
        font-size: 14px;
    color: #a5a2a2;
        overflow: :hidden;
        height: 30px;
  }
  .chart:after {
      content:' ';
      display:block;
      border:1px solid #afaaaa;
      position:relative;
      /*top:608px;*/
}
.tick {
  border-left: 2px solid #afaaaa;
  height: 18px;
  /*top: 608px;*/
  position: absolute;
  width: 8.3%;
}
.smal-tick {
  border-left: 2px solid #a5a5a5;
  height: 10px;
  /*top: 608px;*/
  position: absolute; 
  height: 4px;
    top: 2px;  
}
.start-dlv-time-prog, .end-dlv-time-prog, 
.start-dlv-minute-prog, .end-dlv-minute-prog {
    color: #bce888;
    border-left: 2px solid #bce888;
}
.end-date-popup-view {
    width:30%;
}
.end-date-popup-view .end-date-popup-view-wrap {
    padding: 34px 34px;
}
.end-tm-pkr-ok {
    float: right;
}
.end-tm-pkr-date-label,
.end-tm-pkr-field {
    float: left;
}
.end-tm-pkr-date-label {
    padding-right: 10px;
}
.end-date-popup-view p {
    margin :0;
}
.set-common-time {
    float: left;
    text-align: left;
}
.set-common-time label {
    font-style: italic;
    font-size: 13px;
    color: #868686;
}
/**
 * media screen style. 
 */
 @media only screen and (max-width: 320px){
    .thsdf-twentynineteen-calendar-wrapper-public th.ptdelivery-calendar-header, 
    th.ptdelivery-ac-calendar-header {
        font-size: 11px;   
    }
    .thsdf-twentysixteen-calendar-wrapper-public th.ptdelivery-calendar-header{
        font-size: 12px;
    } 
    .thsdf-twentyfifteen-calendar-wrapper-public th.ptdelivery-calendar-header{
        font-size: 9px;
    }
    .thsdf_twentysixteen_user_account_calendar .ptdelivery-ac-number-input {
        font-size: 9px;  
    }
}
@media only screen and (min-width: 320px) and (max-width: 768px) { 
    .thsdf_twentynineteen_user_account_calendar .ptdelivery-ac-number-input {
        top: -13px;
    }
    .thsdf_twentynineteen_user_account_calendar span.ptdelivary-ac-date-day {
        top: -12px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 960px) { 
    .ptdt-calendar-wrapper-public.thsdf-flatsome-calendar-wrapper-public table#ptdelivery-calendar {
        padding: 15px;
    }
}
@media only screen and (min-width: 360px) and (max-width: 414px) {
    .ptdelivary-single-date {
        height: 46px;
    }
}
@media only screen and (max-width: 384px){
    .thsdf_avada_user_account_calendar .ptdelivary-ac-single-date {
        height: 35px;
    }
    .thsdf_avada_user_account_calendar .ptdelivery-ac-number-input {
        font-size: 9px;
        line-height: 11px;
        height: 16px;
        top: -4px;
    }
    .thsdf_avada_user_account_calendar span.ptdelivary-ac-date-day {
        font-size: 9px;
    }
    .thsdf_avada_user_account_calendar th.ptdelivery-ac-calendar-header {
        font-size: 8px;
    }
    .thsdf_avada_user_account_calendar .ac-odr-item-label {
        display: none;
    }
    .thsdf-twentyfifteen-calendar-wrapper-public .calendar-week-day {
        font-size: 9px;
    }
}
@media only screen and (min-width: 415px) and (max-width: 480px) {
    .thsdf-flatsome-calendar-wrapper-public input[type="number"].ptdelivery-number-input {
        top: -6px;
    } 
    .thsdf-avada-calendar-wrapper-public span.ptdelivary-date-day {
        top: 0;
    }
}
@media only screen and (max-width: 425px) {
    .thsdf-shapely-calendar-wrapper-public input[type="number"].ptdelivery-number-input,
    .thsdf-astra-calendar-wrapper-public input[type="number"].ptdelivery-number-input,
    .thsdf-twentyfourteen-calendar-wrapper-public input[type="number"].ptdelivery-number-input,
    .thsdf-oceanwp-calendar-wrapper-public input[type="number"].ptdelivery-number-input,
    .thsdf-hestia-calendar-wrapper-public input[type="number"].ptdelivery-number-input {
        top: 0;  
    }
    .thsdf-storefront-calendar-wrapper-public input[type="number"].ptdelivery-number-input {
        top: 2px;
    }
}
@media only screen and (max-width: 480px) {
    input[type="number"].ptdelivery-number-input {
        width: 100%;
        height: fit-content;
        border-left: none;
        margin-left: 0;
        border-top: 1px solid #e1e0e0;
        float: right;
        font-size: 12px;
        font-weight: 400;
        top: -5px;
        border-left: none;
    }
    span.ptdelivary-date-day {
        top: -5px;
        font-weight: 400;
        font-size: 11px;
    }
    
    td.ptdelivery-calendar-day, 
    td.ptdt_date_td {
        padding: 3px;
    }
    .ptdt-calendar-wrapper-public #inc-button, 
    .ptdt-calendar-wrapper-public #dec-button {
        display: none;
    }
    .thsdf-flatsome-calendar-wrapper-public input[type="number"].ptdelivery-number-input {
        width: 100%;
        height: 30px;
        border-bottom: 1px solid #d8d8d8;
    }
    .thsdf-avada-calendar-wrapper-public .dashicons-clock:before {
        font-size: 12px;
        /*position: relative;
        bottom: 4px;*/
    }
    .thsdf-avada-calendar-wrapper-public input[type=number].ptdelivery-number-input {
        top: 4px;
    }
    .thsdf-flatsome-calendar-wrapper-public span.ptdelivary-date-day.ptdt_general_color {
        top: 0;
    }
    .thsdf-twentynineteen-calendar-wrapper-public span.ptdelivary-date-day.ptdt_general_color {
        top: -5px;
    }
    .thsdf-twentynineteen-calendar-wrapper-public #ptdelivery-calendar .ptdelivary-single-date {
        height: 63px;
    }
    .thsdf-divi-calendar-wrapper-public input[type="number"].ptdelivery-number-input,
    .thsdf-twentysixteen-calendar-wrapper-public input[type="number"].ptdelivery-number-input, 
    .thsdf-twentyfifteen-calendar-wrapper-public input[type="number"].ptdelivery-number-input,
    .thsdf-twentyseventeen-calendar-wrapper-public input[type="number"].ptdelivery-number-input,
    .thsdf-twentyeleven-calendar-wrapper-public input[type="number"].ptdelivery-number-input {
        top: 0;  
    }
    .woocommerce div.product form.cart .thsdf-hestia-calendar-wrapper-public input {
        border-left: none;
        border-top: 1px solid #e1e0e0;
        top: 0;
    }
    .end-date-popup-view {
        width: 75%;
    }
    button.end-date-ok-button {

        float: left;
    }
    .end-date-popup-view .end-date-popup-view-wrap {
        padding: 10px;
    }
    .single_variation_wrap .thsdf-flatsome-calendar-wrapper-public input[type=number].ptdelivery-number-input {
        top: 11px;
    }
}
@media only screen and (min-width: 530px){
    .thsdf-flatsome-calendar-wrapper-public input[type="number"].ptdelivery-number-input {
        width: 64%;
        top: -11px;
        padding:0; 
    }
}
@media only screen and (min-width: 533px) and (max-width: 538px){
    .thsdf-twentysixteen-calendar-wrapper-public input[type="number"].ptdelivery-number-input {
        width: 66%;
    }
    .thsdf-avada-calendar-wrapper-public input[type="number"].ptdelivery-number-input {
        width: 63%;
    }
}
@media only screen and (min-width: 533px) and (max-width: 732px){
    .thsdf-divi-calendar-wrapper-public.thsdf-calendar-day-min-screen input.ptdelivery-number-input.ptdt_input_color {
        height: 28px;
        border-bottom: 1px solid #e1e0e0;
    }
}
@media only screen and (min-width: 533px) and (max-width: 768px) { 
    .single-product form.cart .thsdf-twentynineteen-calendar-wrapper-public input[type="number"].ptdelivery-number-input {
        width: 56%;
        padding: 0;
        font-size: 14px;
    }
    .thsdf-twentynineteen-calendar-wrapper-public span.ptdelivary-date-day {
        top: -3px;    
    }
}
@media only screen and (max-width: 568px) {
    input[type="number"].ptdelivery-number-input::-webkit-outer-spin-button,
    input[type="number"].ptdelivery-number-input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
@media only screen and (min-width: 568px) {
    .thsdf-avada-calendar-wrapper-public input[type="number"].ptdelivery-number-input {
        width: 62%;
        font-size: 18px;
    }
}
@media screen and (max-width: 600px ) {
    h1 {
        margin-bottom: 10px;
        font-size: 22px;
    }
    h2 {
        font-size: 15px;
        line-height: 15px;
        margin-bottom: 30px;
    }
    .popup{
        width: 80%;
        padding: 10px 5%;
    }
}
@media screen and (max-width: 768px) {
    .thsdf_shapely_user_account_calendar .ptdelivery-ac-number-input {
        min-height: 37px;
        height: fit-content;
    }
    .thsdf_shapely_user_account_calendar .ptdelivary-ac-single-date {
        box-sizing: content-box;
    }
    .woocommerce table.shop_table td.special_theme_class {
        padding: 1.59em 1em;
    }
    .woocommerce .special_theme_class dl.variation dt, 
    .special_theme_class .variation dd {
        display: contents;
    }
}
@media only screen and (max-width: 768px) {
    .ptdelivery-ac-number-input {
        width: 100%;
        height: 39px;
        height: fit-content;
        border-left: none;
        border-left: none;
        border-top: 1px solid #e1e0e0;
        font-size: 12px;
        font-weight: 400;
        float: none;
        margin: 0;
        line-height: 17px;
    }
    
    #dec-button, 
    #dec-button {
        display: none;
    }
    span.ptdelivary-ac-date-day {
        top: -5px;
        font-weight: 400;
        font-size: 11px;
    }
    .ptdelivery-ac-calendar-day, 
    td.ptdt_ac_date_td {
        padding: 3px;
    }
    .ptdelivary-ac-single-date {
        height: 67px;
    }
    input[type=number].ptdelivery-number-input::-webkit-inner-spin-button, 
    input[type=number].ptdelivery-number-input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    th.ptdelivery-ac-calendar-header {
        width: 40px;
    }
    .thsdf_divi_user_account_calendar .ptdelivery-ac-number-input {
        width: 100%;
        height: 36px;
        line-height: 15px;
    }
    .thsdf_flatsome_user_account_calendar .ptdelivery-ac-number-input {
        height: 44px;
    }    
    .thsdf-twentyfifteen-calendar-wrapper-public input[type="number"].ptdelivery-number-input {
        font-size: 14px;    
    }
    .thsdf_twentyfourteen_user_account_calendar .ptdelivery-ac-number-input {
        top: 7px;
        width: 100%;
    }
    .thsdf_twentyeleven_user_account_calendar .ptdelivery-ac-number-input {
        top: 5px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 854px) {
    input[type="number"].ptdelivery-number-input {
        width: 56%;
    }
} 
@media only screen and (min-width: 800px) {
    .thsdf_twentyfifteen_user_account_calendar .ptdelivery-ac-number-input {
        width: 31px;
    }
    .thsdf_twentysixteen_user_account_calendar .ptdelivery-ac-number-input {
        width: 65%;
    }
}  
@media only screen and (min-width: 800px) and (max-width: 854px) { 
    .thsdf-avada-calendar-wrapper-public input[type="number"].ptdelivery-number-input {
        top: 0;
    }
    .ptdelivery-ac-number-input {
        width: 25px;
    }
    .ptdelivery-ac-number-input {
        font-size: 10px;
        font-weight: 400;
    }
    span.ptdelivary-date-day, 
    span.ptdelivary-ac-date-day {
        font-weight: 400;
        font-size: 11px;
    }
    .thsdf-storefront-calendar-wrapper-public.thsdf-calendar-day-min-screen input.ptdelivery-number-input.ptdt_input_color {
        height: 30px;
    }
    .thsdf_flatsome_user_account_calendar .ptdelivery-ac-number-input {
        width: 52px;
    }
    .thsdf_twentynineteen_user_account_calendar .ptdelivery-ac-number-input {
        width: 54%;
    }
}
@media only screen and (min-width: 800px) and (max-width: 960px) {
    .thsdf-twentysixteen-calendar-wrapper-public th.ptdelivery-calendar-header {
        font-size: 12px;
    }     
}
@media only screen and (min-width: 800px) and (max-width: 812px) { 
    .thsdf-twentynineteen-calendar-wrapper-public th.ptdelivery-calendar-header {
        font-size: 12px;   
    }
}
@media only screen and (min-width: 812px) and (max-width: 1024px) {
    .thsdf-avada-calendar-wrapper-public input[type="number"].ptdelivery-number-input {
        width: 100%;
        height: inherit;
        border-left: none;
        margin-left: 0;
        border-top: 1px solid #e1e0e0;
        float: right;
        font-size: 12px;
        font-weight: 400;
        top: 1px;
        border-left: none;
    }
    .thsdf-avada-calendar-wrapper-public span.ptdelivary-date-day {
        top: 0;
    }
    .thsdf-avada-calendar-wrapper-public .dashicons-clock:before {
        font-size: 12px;
        position: relative;
        bottom: 4px;
    }
}
@media only screen and (min-width: 850px) and (max-width: 855px) {
    .thsdf-flatsome-calendar-wrapper-public.thsdf-calendar-day-min-screen input[type=number].ptdelivery-number-input {
        height: 47px;
        top: -11px;
    }
    .thsdf-flatsome-calendar-wrapper-public.thsdf-calendar-day-min-screen .ptdelivary-single-date {
        height: 45px;
    }
}
@media only screen and (min-width: 960px) and (max-width: 1024px) {
    .ptdelivery-ac-number-input {
        width: 38px;
    }
    .thsdf_twentyeleven_user_account_calendar .ptdelivery-ac-number-input {
        width: 30px;
    }
    .thsdf-avada-calendar-wrapper-public .ptdelivary-single-date {
       height: 63px; 
    }
    .thsdf-avada-calendar-wrapper-public input[type=number].ptdelivery-number-input {
        top: 6px;
    }
    .thsdf_twentysixteen_user_account_calendar .ptdelivary-ac-single-date,
    .thsdf_twentyfifteen_user_account_calendar .ptdelivary-ac-single-date {
        height: 67px;
    }
    .thsdf_twentysixteen_user_account_calendar span.ptdelivary-ac-date-day,
    .thsdf_twentyfifteen_user_account_calendar span.ptdelivary-ac-date-day {
        top: -4px;
    }
    .thsdf_twentysixteen_user_account_calendar .ptdelivery-ac-number-input,
    .thsdf_twentyfifteen_user_account_calendar .ptdelivery-ac-number-input {
        width: 100%;
        border-left: none;
        border-top: 1px solid #e1e0e0;
        height: 38px;
    }
}